name: test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    - cron: '21 7 * * 0' # run weekly on sundays

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        django: ['3.2', '4.0', '4.1', 'main']
        exclude:
          - python-version: '3.7'
            django: '4.0'
          - python-version: '3.7'
            django: '4.1'
          - python-version: '3.7'
            django: 'main'

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [[ ${{ matrix.django }} != 'main' ]]; then pip install --pre -q "Django>=${{ matrix.django }},<${{ matrix.django }}.99"; fi
        if [[ ${{ matrix.django }} == 'main' ]]; then pip install https://github.com/django/django/archive/main.tar.gz; fi
        pip install flake8 django-redis pymemcache

    - name: Test
      run: |
        ./run.sh test

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: install flake8
      run: pip install flake8

    - name: Lint with flake8
      run: |
        ./run.sh flake8
